body, h1, p, span {
margin: 0;
font-family: Montserrat;

}

body{
    background-color:#201c2e;
}

h1{
    text-align: center;
    margin: 30px 0;
    color: #FFF;
}

#Cauculadora {
    background-color: rgb(70, 65, 116);
    width: 90%; /* Alterado para 90% para maior flexibilidade */
    max-width: 375px; /* Tamanho máximo para não exceder o design original */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 50px;
    border: 3px solid #000;
}

#screen-container{


    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px;
    width: 90%; /* Alterado para 90% para maior flexibilidade */
    max-width: 259px; /* Tamanho máximo para não exceder o design original */
    height: 80px;
    border: 5px solid #000;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    background-color: rgb(113, 110, 145);
    

}

#upper-number, #result-number{
float: right;
color:#000;
}

#result-number{
    font-weight: bold;
    margin-top:20px;
    font-size: 22px;
    clear: both;
}

.btn-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%; /* Alterado para 90% para maior flexibilidade */
    max-width: 300px; /* Tamanho máximo para não exceder o design original */
    text-align: center;
    margin-bottom: 15px;
}

.btn{
    width: 50px;
    height: 50px;
    margin: 5px; /* Alterado para maior espaçamento em telas menores */
    line-height: 50px;
    text-align: center;
    color:#FFF;
    background-color: #7f74be;
    font-weight: bold;
    font-size:18px;
    display: inline-block;
    cursor:pointer;
    border-radius: 15px;
    

}
.btn:hover{
    background-color: rgb(175, 179, 199);

}

#AC-btn{
  margin-left: -200px;
}

#DIV-btn{
    position: absolute;
    right:14px;
}
#ZERO-btn, #IGUAL-btn{
    width: calc(45% - 10px);
}


